<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="ServerMainImageEndpoint" value="ws://localhost:8888/main" />
		<add key="Red" value="88"/>
		<add key="Green" value="195"/>
		<add key="Blue" value="169"/>
		<add key="Hue" value="40"/>
		<add key="Saturation" value="0.7f"/>
		<add key="Brightness" value="0.5f"/>
	</appSettings>
</configuration>